*{
  text-align: center;
  width: 99%;
}
div {
  border: solid;
  border-width: 1px;
  margin-bottom: 1rem;
  margin-left: .5rem;
}

.row {
  text-align: left;
  border-color: red;
  width: 100%;
  /*margin: 1rem 0;*/
  min-height: 4rem;
  padding: .5rem;
}

.col-8 {
  border-style: dashed;
  display: inline-block;
  width: 65%;
  min-height: 300px;
  /*margin-left: .5rem;*/
}

.col-6 {
  display: inline-block;
  width: 48%;
  min-height: 200px;
  /*margin-left: .5rem;*/
}

.col-4 {
  vertical-align: top;
  display: inline-block;
  width: 32%;
  min-height: 100px;
  /*margin-left: .5rem;*/
}

.col-1 {
  display: inline-block;
  width: 7.5%;
  min-height: 2rem;
  margin: 0;
}

